Repository 392-f24/StudyBuddy, pull requests merged in 2024-10, with the labels that each got.

#2 fix(naming): change groups page to matches page
  src/components/common/Footer.jsx
Labels: size/XS

#3 build(edit course, style courses on the profile card, course filter):
  src/components/Home/StudentFilter.jsx
  src/components/Home/StudentList.jsx
  src/components/HomePage.jsx
  src/components/Profile/EditProfile.jsx
  src/components/Profile/ProfilePage.jsx
  src/hooks/data/useCourses.js
  src/hooks/useEditProfileForm.js
  src/utils/firestore/general.js
Labels: size/M

#5 [Urgent] fix(useUserProfile): Stop constant fetch from database
  src/components/Profile/EditProfile.jsx
  src/components/Profile/ProfilePage.jsx
  src/hooks/data/useUserProfile.js
  src/hooks/useEditProfileForm.js
  src/utils/firestore/userProfile.js
Labels: size/M, profile, hooks, firebase

#6 feat(time-preferences): add time grid for users to select study time …
  src/App.jsx
  src/components/Profile/ProfilePage.jsx
  src/components/Profile/TimePreferencesGrid.jsx
  src/components/Profile/TimePreferencesPage.jsx
Labels: size/L, profile

#8 Feat/time preferences backend
  src/components/Profile/TimePreferencesPage.jsx
  src/hooks/data/useTimePreferences.js
  src/utils/firestore/userProfile.js
Labels: size/M, profile, hooks, firebase

#9 adding code so that after the user saves their preferences the app na…
  src/hooks/data/useTimePreferences.js
Labels: size/XS, profile, hooks

#10 fix(classData.js): Fix the usage of getDocs function
  src/utils/firestore/classData.js
Labels: size/XS, firebase

#11 fix: Just registered users show up before their profile setted up.
  src/components/Home/StudentList.jsx
Labels: size/XS, home

#12 fix: local cache enable, duplicate codes removed.
  src/components/Profile/EditProfile.jsx
  src/hooks/data/useUserProfile.js
  src/hooks/useEditProfileForm.js
  src/utils/auth.js
  src/utils/firebaseConfig.js
  src/utils/firestore/classData.js
Labels: size/M, profile, hooks, firebase

#13 fix: validation for courses as mandatory in profile.
  src/components/Profile/EditProfile.jsx
  src/hooks/useEditProfileForm.js
Labels: size/XS, profile, hooks

#14 fix: crazy reads.
  src/components/Profile/TimePreferencesPage.jsx
  src/hooks/data/useTimePreferences.js
  src/utils/auth.js
  src/utils/firestore/general.js
  src/utils/firestore/matches.js
  src/utils/firestore/userProfile.js
Labels: size/L, profile, hooks, firebase

#15 fix: timePreferences saved but not updating in frontend.
  src/hooks/data/useTimePreferences.js
  src/utils/firestore/userProfile.js
Labels: size/S, hooks, firebase

#16 refactor: Conditional fetching of match data in useUserProfile hook
  src/components/HomePage.jsx
  src/hooks/data/useUserProfile.js
Labels: size/XS, hooks, home

#18 feature(unmatch): Create unmatch button for matched profiles
  src/components/GroupsPage.jsx
  src/utils/firestore/matches.js
Labels: size/M, firebase

#17 build(Enabling the filter button & unselect of the years item from th…
  src/App.jsx
  src/components/Home/StudentFilter.jsx
  src/components/Home/StudentList.jsx
  src/components/HomePage.jsx
  src/components/common/Header.jsx
Labels: size/L, home, common
